.education-list-container {
    padding: 20px; /* Overall padding for the container */
    font-family: sans-serif; /* Basic font */
}
.list-controls {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; /* Maintain some margin below controls */
}

.listUserEducationPost-searchInput {
  flex-grow: 1; /* Allow search bar to expand */
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.375rem;
  height: 2rem; /* Increase search bar height */
}

.listUserEducationPost-sortSelect {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.375rem;
  height: 2rem; /* Increase select height */
  margin-left: 1rem; /* Add some spacing between search bar and select */
}

.post-list {
    list-style: none; /* Remove bullet points from list */
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    grid-gap: 20px;
}

.user-education-post-item {
    /* Styles for the list items (card wrappers) */
    display: flex; /* Ensure the card fills the list item */
}